{% extends "base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'cart.css' %}">
{% endblock %}
{% block title %}
My Cart - {{ block.super }}
{% endblock %}

{% block content %}

<div class="wrap cf">
	<h1 class="projTitle">Shopping Cart</h1>
	<div class="heading cf">
	  <h1>My Cart</h1>
	  <a href="{% url 'all_products' %}" class="continue">Continue Shopping</a>
	</div>
	<div class="cart">

	  
	{% if cart.cartitem_set.all %}
	<ul class="cartWrap" id="fade">
	<form action="{% url 'my_cart' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="_method" value="put" />	
	{% for item in cart.cartitem_set.all %}  
		<li class="items even">
	  <div class="infoWrap"> 
		  <div class="cartSection">
		  	{% if item.variation.last.productimage_set.first %}
				<img class="thumbnail" src="/media/images/wl.gif" alt="{{item.variation.last}}" height="180" width="180" onload="(function(el){el.onload=' ';el.src='/media/{{item.variation.last.productimage_set.first.image}}';})(this)" />
			{% elif item.variation.first.productimage_set.first %}
				<img class="thumbnail" src="/media/images/wl.gif" alt="{{item.variation.first}}" height="180" width="180" onload="(function(el){el.onload=' ';el.src='/media/{{item.variation.first.productimage_set.first.image}}';})(this)" />
			{% else %}
				<img class="thumbnail" src="/media/images/wl.gif" alt="{{item.variation.first.productimage_set.first }}" height="180" width="180" onload="(function(el){el.onload=' ';el.src='/media/{{ item.productimage.image }}';})(this)" />
			{% endif %}
			<h3>
				<a href='{% url "single_product" item.product.slug %}' class="a-link-normal">
					{{ item.product.title }}
					</a><br>
					{% if item.variation %}
						{% for var in item.variation.all %}
							<small>{{ var.category|title }}: {{ var.title }}</small><br>
						{% endfor %}
					{% endif %}
			</h3>
		  
			<p> <input type="number" min="1" max="10" size="6"value="{{ item.quantity }}" name="quantity" class="qty"/> x &#8377;	
						{% if item.variation.first.price %}
							{{item.variation.first.price}}
						{% elif item.variation.last.price %}
							{{item.variation.last.price}}
						{% else %}
							{{ item.product.price }}
						{% endif %}
			</p>
		  
			<p class="stockStatus"> In Stock</p>
		  </div>  
	  
		  
		  <div class="prodTotal cartSection">
			<p>&#8377; {{ item.total_price }}</p>
		  </div>
				<div class="cartSection removeWrap">
			 <a href="{% url 'remove_item' cart_item_id=item.id %}" class="remove">x</a>
		  </div>
		</div>
		</li>
	{% endfor %}
	<input id='updateBtn' type='submit' class='hidden' value='Update'>
	{% else %}
		<p>The shopping cart is empty <a href="{% url 'all_products' %}">continue shopping</a></p>
	{% endif %}	  

	  </ul>
	</div>
		
	<div class="subtotal cf">
	  <div>
		  <div id="subTotal" data-subtotal="{{ cart.get_subtotal }}" class="totalRow final"><span class="label">Total</span><span id="totalPrice" class="value">&#8377; {{cart.get_subtotal}}</span></div>
		  <input type="hidden" id="balance" value="{{user.balance}}">
	  </form>
		<span class="totalRow"><a id="submitOrder" href="#"  class="btn continue">Checkout</a></span>
	</div>
	</div>
  </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'mycart.js' %}"></script>
{% endblock %}