{% extends 'base.html' %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>My Order</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Order ID</th>
					<th>Status</th>
					<th>Total price</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td>{% for image in order.cart.cartitem_set.all %}
							<img src="/media/{{image.productimage.image}}" alt="image" height="180" width="180"><br><br>
						{% endfor %}</td>
					<td>
					{% for product in order.cart.cartitem_set.all %}
						{{ product.product.title }}<br>
					{% endfor %}
					</td>
					<td>{{ order.order_id }}</td>
					<td>{{ order.status }}</td>
					<td>{{ order.total }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}