{% extends "base.html" %}
{% load static %}

{% block title %}
My Cart - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}


<div class="wrap cf" style="width: 100%;">
	<div class="heading cf">
	  <h1>Confirm order</h1>
	</div>

<div class="containter">
	<div class="row">
		<div>
            <table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Product ID number</th>
						<th>product name</th>
						<th>unit price</th>
						<th>Quantity</th>
						<th>price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for item in cart.cartitem_set.all %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{ item.product.id }}</td>
					<td>
						{{ item.product.title }}
						{% if item.variation %}
							{% for var in item.variation.all %}
								<small>{{ var.category|title }}: {{ var.title }}</smalll><br>
							{% endfor %}
						{% endif %}
					</td>
					<td>{{ item.product.price }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.total_price }}</td>
				</tr>
				{% endfor %}
				</tbody>
				<tfooter>
					<tr>
						<td>Total price</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>&#8377;</b> {{ cart.get_subtotal }}</td>
						<td></td>
					</tr>
					<tr>
						<td>Taxes (8%)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>&#8377;</b> {{ cart.get_tax }}</td>
						<td></td>
                    </tr>
                    <tr>
						<td>Shipping charges</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td id="shippingPrice"><b>&#8377;</b> 80.00 </td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>			
				</tfooter>
			</table><br>
		</div>
	</div>
</div>

<div class="subtotal cf">
	<div>	  
		<div id="subTotal" data-subtotal="{{ cart.get_subtotal }}" class="totalRow final"><span class="label">Total</span>&#8377;<span id="totalPrice" class="value"> {{cart.get_total}}</span></li>
	  	<span class="totalRow"><a href="#" id="form" class="btn btn-success">Pay</a></li>
	</div>
  </div>

<!--   Modal -->
<div id="donm" class="t">

	<div class="t-content">
	  <div class="t-body">
		<div class="row">
			<div style="padding: 35px;">
				<form action="{% url 'new_orders' %}" method="post">
				{% csrf_token %}
				<input type="hidden" id="balance" value="{{user.balance}}">
				<h2 class="form-signin-heading">Payment</h2>
				<h5>Current balance: {{user.balance}}</h5>
				<br><br>
				<h6>Total Amount: {{cart.get_total}}</h6><br><br><br>
				<button type="button" id="cancel" class="btn btn-danger">Cancel</button></span>
				<button type="submit" id="submitOrder" style="float: right;" class="btn btn-success">Pay {{cart.get_total}}</button></span><br><br>
				<div class="text-center"><span id="lowBalance" style="color: #d9534f;" class="hidden">Insufficcent balance <a href="{% url 'user_balance_info' %}">Add Money</a></span></div>
			  </form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'new.js' %}"></script>
{% endblock %}