{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
Change Password - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class='col-md-3'>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{% url 'user_account_info' %}">account information</a></li>	
        <li role="presentation"><a href="{% url 'user_mailing_address'%}">Shipping address</a></li>
        <li role="presentation"><a href="{% url 'user_balance_info'%}">account balance</a></li>
        <li role="presentation" class="active"><a href="{% url 'change_password'%}">Change Password</a></li>
	</ul>
</div>
<div class='col-md-9'>
    <h3>Change Password</h3><br>
    <div class="a-box">
        <div class="a-box-inner">
            <div style="margin-bottom: 14px!important;">
                Use the form below to change the password for your account
            </div>
            <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.old_password.errors }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}  
                <div style="margin-bottom: 22px;">
                    <div>
                        <label>      Current password:
                        </label>
                    </div>
                    <div>    
                        {{ form.old_password|add_class:"form-control a-input-text" }}
                    </div>
                </div>
                <div style="margin-bottom: 22px;">
                    <div>
                        <label>      New password:
                        </label>
                    </div>
                        {{ form.new_password1|add_class:"form-control" }}
                </div>
                <div style="margin-bottom: 22px;">
                    <div>
                        <label>      Reenter new password:
                        </label>
                    </div>
                        {{ form.new_password2|add_class:"form-control" }}
                </div>
                <input class='btn btn-primary' type="submit" value="Save Changes" />
            </form>
        </div>
    </div>
</div>
{% endblock %}