body{
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

.t {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 130px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.t-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 400px;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closer {
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
  padding: 5px 8px 8px 8px;
  position: relative;
  right: 5px;
  bottom: 10px;
}

.closer:hover,
.closer:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.t-body {padding: 2px 16px;}

.errorlist {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.a-box {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}
.a-box .a-box-inner {
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
}
label, legend {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}
.a-input-text{
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
}
.thumbnail .caption {
  padding-bottom: 9px;
  color: #333;
  border-top: 1px #aeaeae solid;
}
.bb {
  border-bottom: 1px #ddd solid;
  padding-bottom: 40px;
}
.a-link-normal {
  color: #007185;
  text-decoration: none;
  font-size: 18px!important;
  line-height: 24px!important;
  font-weight: 700!important;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}
button.mc {
  background-color: white;
  border: none;
  font-size: initial;
  width: 100%;
}
.dropdown-menu>li>button:hover {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}
.F_H {
  font-family: "Times New Roman", Times, serif;
}
.p{
  font-family: "Times New Roman", Times, serif;
}
p>.cr-btn {
  display: inline-grid;
  min-width: 42px;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(15 17 17 / 20%);
  margin: 1px 4px 1px 4px;
  padding: 7px 7px 7px 7px;
  color: #111!important;
  text-align: left;
  letter-spacing: 0;
  line-height: 20px;
  border: none;
}
p>.cr-btn:hover {
  box-shadow: 0 0 0 1px #111;
    text-decoration: none;
}
.table>tbody>tr>td{vertical-align: middle;}
.mg-side{
  margin-top: 30px;
  margin-bottom: 30px;
}

.show{
  width: 275px;
  height: 275px;
}

.small-img{
  width: 350px;
  height: 70px;
  margin: 10px 0 20px 0;
  position: relative;
  left: 25px;
      
}
.small-img .icon-left,
.small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}


.small-img .icon-left{
  transform: rotate(180deg);
}

.small-img .icon-right{
  right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover{
  opacity: 0.5;
}


.small-container{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  border: 1px solid #dedede;
  /* transform: rotate(90deg); */
  padding: 5px;
}


.small-container div{
  width: 800%;
  position: relative;
}


.small-container .show-small-img{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}

.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
