{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'breadcrumbs.html' %}

<div id="ajaximage-big" class="thumbnail hidden" style="width: fit-content;"></div>

<div id="imagesbigerr" class="show thumbnail" href="/media/{{pid.first.image}}">
		<img src="/media/{{pid.first.image}}" id="show-img" alt="">
</div>

<div class="small-img">

	 <div class="small-container">
		<div id="small-img-roll">
			<div id="ajaximage" ></div>
			<div id="images">
				{% for images in pid %}
				<img src="/media/{{ images.image }}" class="show-small-img" alt="">
				{% endfor %}
			</div>
		</div>               
	 </div>
</div>

<div class="row">
		<div class="caption text-center">
			<form method="POST" action='{% url "my_cart" %}'>
				{% csrf_token %}
				<input id="slug" type="hidden" name="product" value={{product.slug}} />
				

			 	{% if product.productvariation_set.all %}

				 	{% if product.productvariation_set.sizes %}
				 	<select id="size" class='form-control' name='size'>
				 	{% for item in product.productvariation_set.sizes %}
				 		<option value='{{ item.id }}'>{{ item.title }}</option>
				 		{% endfor %}
				 	</select>
				 	{% endif %}

				 	 {% if product.productvariation_set.colors %}
				 	<select id="color" class='form-control' name='color'>
				 	{% for item in product.productvariation_set.colors %}
				 		<option value='{{ item.id }}'>{{ item.title }}</option>
				 		{% endfor %}
				 	</select>
				 	{% endif %}

			 	{% endif %}

				<input type="number" min="1" max="9" value="1" name="quantity" class="form-control">
				<br>
				<button id="cart" type="submit" class="btn btn-success">Add to Cart</button><br><br>
				<span id="login" style="display: none;">You must first <a href="{% url 'user_login' %}">Log in</a></span>
			</form>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>{{ product.title }}</h3>
		{% if product.sale_price %}
			<p>M.R.P: <del><b>&#8377;</b>  {{ product.sale_price }}</del></p>
		{% endif %}
		<p id="ProductPrice">Price:  &#8377; {{ product.price }}</p>
		<p>{{ shippingdate }}</p>
		<p>{{ product.description|linebreaks }}</p>
	</div>
</div>

<!--   Modal -->
<div id="donm" class="t">
	<div class="t-content">
	  <iframe id="iframeContent" class="iframe" scrolling="no" src="{% url 'user_login' %}" frameborder="0" height="300" width="100%"></iframe>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'single2.js' %}"></script>
{% if not user.is_authenticated %}
	<script src="{% static 'single.js' %}"></script>
{% endif %}
{% endblock %}



